@model ShaTask.Models.Cashier

@{
    ViewData["Title"] = "Create";
}
<br />
<h1>Create Cashier</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CashierName" class="control-label"> Cashier Name</label>
                <input asp-for="CashierName" class="form-control">
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="BranchID" class="control-label">Branch</label>
                <select asp-for="BranchID" class ="form-control" asp-items="ViewBag.BranchID"></select>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
